---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <div class="max-w-[80%] text-center flex flex-col-reverse md:flex-row-reverse items-center gap-4">
        <section class="md:max-w-[50%]">
            <h3 class="text-3xl font-bold text-pretty">
                AE Volei Vallirana
            </h3>
            <p class="text-xl text-pretty">
                La asociación de voley de Vallirana es un grupo de amigos amantes del voleibol 
                que se han propuesto promocionarlo y crear algo serio en Vallirana para este deporte.
            </p>
        </section>
        <section 
            class:list={[
                    `main-image relative aspect-[16/9] md:w-[45vw] max-w-[1200px] sm:max-h-[70vh]`,
                    "flex mx-auto my-auto",
            ]}
        >
            <img
                src={"/master-a.png"}
                class="rounded-lg shadow-lg object-cover"
            />
        </section>
    </div>
</Layout>
