---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <div class="w-3/4 text-center">
        <h2 class="text-3xl font-bold text-pretty">Sobre Nosotros</h2>
        <img src="" alt="">
        <div class="text">
            <h3 class="text-xl">
                Somos una asociación en busca de visibilizar el vóley en Vallirana.
            </h3>
            <p class="text-lg text-pretty">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste temporibus
                laboriosam alias voluptatum? Officiis, ea autem minus totam deleniti
                quam saepe ad. Labore fugit eius repellendus, praesentium nemo
                exercitationem dignissimos!
            </p>
        </div>
    </div>
</Layout>
