---
const { name, key } = Astro.props;

import CoachImage from "@components/CoachImage.astro";
---

<div
    class=" group bg-black-opaque rounded-2xl text-xl p-8 min-w-52
            w-full max-w-96 flex flex-col items-center
            sm:h-[55vh] min-h-fit sm:justify-evenly"
>
    <CoachImage
        imagePath=`/src/assets/entrenadores/${key}.webp`
        altText={name}
    />
    <h1 class="text-3xl text-white pt-4">{name}</h1>
</div>
