---
import { coaches } from "@lib/consts";
import CoachCard from "./CoachCard.astro";
---

<div class="flex flex-row flex-wrap justify-evenly gap-10 w-full mt-10 mx-80">
    {coaches.map((coach, idx) => <CoachCard {...coach} />)}
    {coaches.map((coach, idx) => <CoachCard {...coach} />)}
    {coaches.map((coach, idx) => <CoachCard {...coach} />)}
</div>
