---
import InstagramIcon from "@icons/Instagram.astro";

const today = new Date();
---

<footer class="bg-black bg-opacity-35 text-white py-6">
	<div
		class="container mx-auto mb-0 text-center flex flex-row justify-around items-center gap-4"
	>
		<p>
			&copy; {today.getFullYear()} AE Volei Vallirana.
		</p>
		<a
			href="https://www.instagram.com/ae_volei_vallirana/"
			class="hover:text-gray-200 flex justify-center items-center gap-4"
			target="_blank"
		>
			<InstagramIcon size="36" />
			<span class="text-slate-300 font-bold tracking-normal"> @ae_volei_vallirana </span>
		</a>
	</div>
</footer>
<style></style>
