<header class="backdrop-blur-lg text-white bg-black bg-opacity-35 w-full">
	<div class="container mx-auto flex justify-between items-center py-4 px-6">
		<a href="/" class="hover:text-gray-200 flex flex-row items-center space-x-4">
			<img src="/aevoley-nobg.png" alt="AE Volei Vallirana" class="w-24 h-24" />
			<h1 class="text-3xl font-bold">AE Volei Vallirana</h1>
		</a>
		<nav>
			<ul class="flex space-x-4 items-center max-sm:hidden">
				<li>
					<a href="/about" class="hover:text-gray-200"
						>Sobre Nosotros</a
					>
				</li>
				<li>
					<a href="/entrenadores" class="hover:text-gray-200">Entrenadores</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
