---
import Layout from "@layouts/Layout.astro"
---

<Layout class="flex flex-col justify-center items-center my-10">
    <h1 class="text-4xl text-pretty my-8">Lo sentimos, esta página no está disponible</h1>
    <a href="/" class="bg-slate-700 rounded-2xl px-6 py-3 text-xl max-w-fit">Volver al inicio</a> 
</Layout>
