---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import MainLayout from "@layouts/Main.astro";
---

<MainLayout title="Vòlei Vallirana">
	<div
		class="bg-main-right min-h-screen
		flex flex-col items-center justify-between w-full"
	>
		<Header />
		<main class="flex flex-col justify-center items-center my-10">
			<slot />
		</main>
		<Footer />
	</div>
</MainLayout>
