---
import Layout from '@layouts/Layout.astro';

export function getStaticPaths() {
    return [
        { params: { id: "master-a" } },
        { params: { id: "dominiques" } },
        { params: { id: "vall-d-arus" } },
    ];
}

const { id } = Astro.params;
---

<Layout>
    <div class="max-w-[80vw] flex flex-col">
        <div class="w-full flex justify-center">
            <img class="aspect-auto w-auto rounded-2xl" src={`/${id}.png`} alt={id} />
        </div>
        <h1 class="text-3xl -mt-9 ml-auto backdrop-blur-lg px-5 py-0 rounded-e-2xl">Masters Mixt</h1>
    </div>
</Layout>
