---
import PlayerCard from "@components/PlayerCard.astro";
import TeamLayout from "@layouts/TeamLayout.astro";
import { teams, findTeam } from "@lib/consts";

export function getStaticPaths() {
    return teams.map((team) => ({ params: { key: team.key } }));
}

const { key } = Astro.params;
const team = findTeam(key);
---

<TeamLayout bgKey=`${key}` name={team?.name}>
    <div
        class:list={[
            "flex flex-col mt-0 mx-auto items-center gap-10",
            "xl:max-w-[75vw] max-xl:max-w-full max-xl:mx-4",
            `h-full rounded-lg`,
        ]}
    >
        <h1
            class="max-xl:text-4xl xl:text-7xl text-center self-end mt-auto backdrop-blur-md
            py-2 px-4 rounded-e-lg"
        >
            {team?.name}
        </h1>
    </div>
    <!-- <h2 class="max-xl:text-3xl xl:text-6xl text-left mb-8 ml-8">Jugadores</h2> -->
    <div
        class="flex flex-row flex-wrap justify-center items-center gap-10 mx-5"
        slot="players"
    >
        {
            Array.isArray(team?.players) &&
                team.players.map((player) => <PlayerCard {...player} />)
        }
    </div>
</TeamLayout>
